
<h1>DAMit Homepage</h1>

<h2>Add a New Item</h2>
<div>
  <a href="/items/new" class="btn btn-outline-primary">Upload File</a>

</div>
<div>
  <button class="btn btn-outline-secondary">Manually Enter Asset Data</button>
</div>