
<div>
  <%= link_to "Back to Gallery", items_path %>
</div>
<br>

<div class="form-holder">
  <div class="form-title">
    <h1>Add a new item</h1>
  </div>
  <%= render "form", item: @item %>
  
</div>


